# SPDX-License-Identifier: GPL-3.0-or-later
[Desktop Entry]
Name=Polaris
Comment=One-click app and driver installer for Fedora workstations
Exec=polaris
Icon=computer
Terminal=false
Type=Application
Categories=System;Settings;
