# SPDX-License-Identifier: GPL-3.0-or-later
[Desktop Entry]
Name=Workstation Starter Kit
Comment=One-click app and driver installer for Fedora workstations
Exec=workstation-starter-kit
Icon=computer
Terminal=false
Type=Application
Categories=System;Settings;
